Debug/
Release/
Library/
__history/
*.???_
*.~*
*.2007
*.bak
*.bk?
*.cbk
*.cfg
*.dcu
*.ddp
*.dof
*.dpu
*.drc
*.dsk
*.elf
*.identcache
*.kof
*.local
*.log
*.mad
*.map
*.mes
*.mps
*.mpt
*.orig
*.prf
*.skincfg
*.stat
*.tci
*.tmp
*.tvsconfig
*.vlb
Thumbs.db